---
/* eslint-disable-next-line import/no-unresolved */
import type { CollectionEntry } from "astro:content";
import { ArticleListItem } from "@cieloazul310/astro-sarkara";
import { slugify, parseDate } from "../../utils";

interface Props {
  post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
---

<ArticleListItem
  href={slugify("posts", post)}
  title={post.data.title}
  image={post.data.featuredImg?.src}
  imageAlt={post.data.featuredImgAlt}
  imagePlaceholder="Markdown"
>
  <Fragment slot="headerText">
    <span>
      <time datetime={post.data.date.toISOString()}>
        {parseDate(post.data.date)}
      </time>
    </span>
    {post.data.author && <span>by {post.data.author}</span>}
  </Fragment>
</ArticleListItem>
