---
/* eslint-disable-next-line import/no-unresolved */
import { getCollection } from "astro:content";
import { vstack } from "../../../styled-system/patterns";
import Layout from "../../layout/index.astro";
import PostListItem from "../../components/PostListItem.astro";
import PostYears from "../../components/PostYears.astro";
import { parseDate } from "../../utils";

const allPosts = await getCollection("posts");
---

<Layout title="Markdown Posts">
  <ul class={vstack({ gap: 2, alignItems: "stretch" })}>
    {
      allPosts
        .sort(
          (a, b) =>
            new Date(b.data.date ?? 0).getTime() -
            new Date(a.data.date ?? 0).getTime(),
        )
        .map((post) => (
          <PostListItem
            href={`/posts/${post.slug}`}
            primaryText={post.data.title}
          >
            <Fragment slot="secondaryText">
              <span>
                <time datetime={post.data.date.toISOString()}>
                  {parseDate(post.data.date)}
                </time>
              </span>
              {post.data.author ? <span>by {post.data.author}</span> : null}
            </Fragment>
          </PostListItem>
        ))
    }
  </ul>
  <PostYears slot="sidebar-top" />
  <PostYears slot="drawer-top" />
</Layout>
