---
import type { InferGetStaticPropsType } from "astro";
import {
  SarkaraLayout,
  Paper,
  PaperLink,
  Navigation,
  Link,
  Badge,
  useNavigation,
} from "@cieloazul310/astro-sarkara";
import { css } from "styled-system/css";
import { hstack } from "styled-system/patterns";
import Analytics from "@/components/analytics.astro";
import MicrocmsCategories from "@/components/microcms/microcms-categories.astro";
import Ad from "@/components/ad.astro";
import { siteMetadata, menu } from "@/data";
import {
  getBlogs,
  getBlogDetail,
  parseDate,
  rehypeIt,
  slugify,
  excerpt,
} from "@/utils";

import "@/index.css";

// 詳細記事ページの全パスを取得
export async function getStaticPaths() {
  const response = await getBlogs({ fields: ["id", "title", "publishedAt"] });
  return response.contents
    .sort(
      (a, b) =>
        new Date(b.publishedAt).getTime() - new Date(a.publishedAt).getTime(),
    )
    .map((blog) => ({
      ...blog,
      slug: slugify("microcms", blog, true),
    }))
    .map(({ id, slug }, index, arr) => {
      const newer = index !== 0 ? arr[index - 1] : null;
      const older = index !== arr.length - 1 ? arr[index + 1] : null;

      return {
        params: {
          slug,
        },
        props: {
          blogId: id,
          newer,
          older,
        },
      };
    });
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { blogId, newer, older } = Astro.props as Props;
const { title, publishedAt, content, category, eyecatch } =
  await getBlogDetail(blogId);

const html = await rehypeIt(content);
const navigation = useNavigation(
  { left: newer, right: older },
  {
    href: (obj) => `/microcms/${encodeURIComponent(obj.slug)}`,
    primaryText: (obj) => obj.title,
    secondaryText: (obj) => parseDate(obj.publishedAt),
  },
);
const description = excerpt(content);
---

<SarkaraLayout
  menu={menu}
  siteMetadata={siteMetadata}
  title={title}
  description={description}
  image={eyecatch?.url}
>
  <Analytics slot="top-of-head" />
  <Fragment slot="jumbotron-footer">
    <time datetime={parseDate(publishedAt)}>{parseDate(publishedAt)}</time>
  </Fragment>
  <Paper set:html={String(html)} />
  <Paper>
    <footer>
      <h2>{title}</h2>
      <p class={hstack({ gap: 2 })}>
        <time datetime={parseDate(publishedAt)}>{parseDate(publishedAt)}</time>
      </p>
      {
        category && (
          <p class={css({ mt: 1 })}>
            <Link
              href={`/microcms/categories/${encodeURIComponent(category.id)}`}
            >
              <Badge colorPalette="primary">{category.name}</Badge>
            </Link>
          </p>
        )
      }
    </footer>
  </Paper>
  <Navigation {...navigation} />
  <Ad />
  <PaperLink href="/microcms/">CMS Posts Top</PaperLink>
  <Fragment slot="sidebar-top">
    <Navigation {...navigation} direction="column" />
    <MicrocmsCategories />
  </Fragment>
  <Ad variant="display-2" slot="sidebar-bottom" disableMargin />
  <MicrocmsCategories slot="drawer-top" />
</SarkaraLayout>
