---
import type { HTMLAttributes } from "astro/types";
import Link from "./Link.astro";
import { css, cx } from "../../styled-system/css";
import {
  linkBox,
  linkOverlay,
  hstack,
  paper,
} from "../../styled-system/patterns";

interface Props extends HTMLAttributes<"a"> {
  primaryText?: string;
  secondaryText?: string;
  disablePrefix?: boolean;
}

const { href, primaryText, secondaryText, disablePrefix } = Astro.props;
---

<li class={cx(linkBox({ colorPalette: "primary" }), paper({ hover: true }))}>
  <article class={css({ display: "flex", flexDirection: "column" })}>
    <Link className={linkOverlay()} href={href} disablePrefix={disablePrefix}>
      <slot name="primaryText">
        <h1 class={css({ fontSize: ["md", "lg"] })}>{primaryText}</h1>
      </slot>
    </Link>
    <footer class={hstack({ gap: 2, fontSize: ["sm", "md"] })}>
      <slot name="secondaryText">
        <span>{secondaryText}</span>
      </slot>
    </footer>
  </article>
</li>
