---
import type { HTMLAttributes } from "astro/types";
import Link from "./Link.astro";
import { css } from "../../styled-system/css";
import { linkBox, linkOverlay, hstack } from "../../styled-system/patterns";

interface Props extends HTMLAttributes<"a"> {
  primaryText?: string;
  secondaryText?: string;
  disablePrefix?: boolean;
}

const { href, primaryText, secondaryText, disablePrefix } = Astro.props;
---

<li
  class={linkBox({
    p: [4, 8],
    borderWidth: "1px",
    borderColor: { base: "primary.200", _dark: "primary.900" },
    rounded: "xl",
    listStyleType: "none",
    background: { base: "bg", _hover: "primary.50" },
    _dark: { background: { base: "bg.dark", _hover: "primary.950" } },
  })}
>
  <article class={css({ display: "flex", flexDirection: "column" })}>
    <Link className={linkOverlay()} href={href} disablePrefix={disablePrefix}>
      <slot name="primaryText">
        <h1 class={css({ fontSize: "lg" })}>{primaryText}</h1>
      </slot>
    </Link>
    <div class={hstack({ gap: 2 })}>
      <slot name="secondaryText">
        <span>{secondaryText}</span>
      </slot>
    </div>
  </article>
</li>
