---
import type { HTMLAttributes } from "astro/types";
import { css } from "../../styled-system/css";
import { linkBox, linkOverlay } from "../../styled-system/patterns";

interface Props extends HTMLAttributes<"a"> {
  title?: string;
  author?: string;
  date?: string;
}

const { href, title, author, date } = Astro.props;
---

<li
  class={css({
    p: 4,
    borderWidth: "1px",
    borderColor: { base: "primary.200", _dark: "primary.900" },
    rounded: "xl",
    listStyleType: "none",
    background: { base: "bg", _hover: "primary.50" },
    _dark: { background: { base: "primary.950", _hover: "primary.900" } },
  })}
>
  <article class={linkBox({ display: "flex", flexDirection: "column", p: 2 })}>
    <a class={linkOverlay()} href={href}>
      <h1 class={css({ fontSize: "lg" })}>{title}</h1>
    </a>
    <div>
      <span>{date}</span>
      <span>{author}</span>
    </div>
  </article>
</li>
