---
import type { HTMLAttributes } from "astro/types";
import Link from "./Link.astro";
import { css } from "../../styled-system/css";
import { linkBox, linkOverlay, hstack } from "../../styled-system/patterns";

interface Props extends HTMLAttributes<"a"> {
  title?: string;
  author?: string;
  date?: string;
  disablePrefix?: boolean;
}

const { href, title, author, date, disablePrefix } = Astro.props;
---

<li
  class={linkBox({
    p: [4, 8],
    borderWidth: "1px",
    borderColor: { base: "primary.200", _dark: "primary.900" },
    rounded: "xl",
    listStyleType: "none",
    background: { base: "bg", _hover: "primary.50" },
    _dark: { background: { base: "bg.dark", _hover: "primary.950" } },
  })}
>
  <article class={css({ display: "flex", flexDirection: "column" })}>
    <Link className={linkOverlay()} href={href} disablePrefix={disablePrefix}>
      <h1 class={css({ fontSize: "lg" })}>{title}</h1>
    </Link>
    <div class={hstack({ gap: 2 })}>
      <span><time datetime={date}>{date}</time></span>
      <span>by {author}</span>
    </div>
  </article>
</li>
